<template>
  <div class="home-page page">
    <div class="page-container">

      <header>
        <center>
          <img src="./zeta2.png" />
        </center>
        <br/>
        <br/>
      </header>
      <br/>
      <div class="container">
          <b-field label="First Name">
              <b-input v-model="firstname"></b-input>
          </b-field>
          <b-field label="Last Name">
              <b-input v-model="lastname"></b-input>
          </b-field>
          <b-field label="Email">
              <b-input type="email"
                  value="john@"
                  maxlength="30"
                  v-model="email"
              >
              </b-input>
          </b-field>
          <b-field label="Phone">
              <b-input type="email"
                  value=""
                  v-model="phone"
                  maxlength="30">
              </b-input>
          </b-field>
          <b-field label="Current/Last Worked Company">
              <b-input
                  v-model="company">
              </b-input>
          </b-field>
          <b-field label="Resume">
          <b-upload v-model="resume"
            :native="true"
            drag-drop
            @input="fileChanged(resume)">
            <section class="section">
                <div class="content has-text-centered">
                    <p>
                        <b-icon
                            icon="upload"
                            size="is-large">
                        </b-icon>
                    </p>
                    <p>Drop your files here or click to upload</p>
                </div>
                <div v-if="resume">{{ resume.name }}</div>
            </section>
        </b-upload>
        </b-field>
        <br />
        <br />
        <br />
        <div class="button" @click="startProcess">Start Employee Interview Process</div>
        <div class="button close-button">Cancel</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import axios from 'axios';

import ModuleComponent from "../components/ModuleComponent.vue";

@Component({
  components: {
    ModuleComponent
  }
})
export default class extends Vue {
  private firstname: String = '';
  private lastname: String = '';
  private email: String = '';
  private phone: String = '';
  private company: String = '';
  private resume: any = null;
  
  private fileChanged(file: File) {
    console.log(file);
  }

  private startProcess() {
    console.log('inside the function');
    axios.get('http://google.com').then((res) => {
      console.log('inside tne response');
      console.log(res);
    }).catch((err)=> {
      console.log('inside the error');
      console.log(err);
    })
  }

}
</script>

<style lang="scss">

.page-container {
  box-sizing: border-box;
}

.upload {
  width: 100%;
}

.upload-draggable {
  width: 100% !important;
  border: 2px solid #fff !important;
}

.container {
  
  margin: 0 auto;
  width: 50% !important;

  .control input {
    padding: 20px !important;
    box-sizing: border-box;
    width: 100% !important;
    min-width:300px !important;
    margin-bottom: 20px;
  }

  .field label {
    color: #e5e5e5;
  }

  .button {
    padding: 25px;
    min-width: 282px;
    text-align: center;
    background-color: #fff;
    color: #623ea5;
    text-transform: capitalize;
    font-weight: bolder;
  }

  .close-button {
    margin-left: 30px;
    background-color: #623ea5;
    border: 1px solid #fff;
    color: #fff;

    &:hover {
      color: #fff;
    }

  }

}

.page {
  padding: 1rem;
  border: 1px dashed #dddddd;
  &-header {
    margin-bottom: 1em;
    font-size: 18px;
  }
}
</style>