<template>
  <div class="home-page page">
    <div class="main-container">
      <header>
        <img src="./zeta2.png" />
      </header>
      <br/>
      <br/>
      <div class="head1">
        <center> 
          Job Status <br/><br/>
          <input type="text" placeholder="Enter tracking id..."/>
          <br/><br/>
          <!-- <div class="status-tracker">
              <li class="active"></li>
              <li></li>
              <li></li>
            </div> -->
          <br>
          <b-steps
            v-model="activeStep"
            :animated="isAnimated"
            :has-navigation="false"
            :icon-prev="prevIcon"
            :icon-next="nextIcon">
            <b-step-item label="Account" :clickable="isStepsClickable">
            </b-step-item>

            <b-step-item label="Profile" :clickable="isStepsClickable" :type="{'is-success': isProfileSuccess}">
            </b-step-item>

            <b-step-item :visible="showSocial" label="Social" :clickable="isStepsClickable">
            </b-step-item>

            <b-step-item label="Finish" :clickable="isStepsClickable" disabled>
            </b-step-item>
        </b-steps>
        <br>
          <p> Profile Shortlisted <br/>
            <span> Please wait for the communication from our talent acquisition team. </span> 
          </p>
        </center>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import axios from 'axios';

import ModuleComponent from "../components/ModuleComponent.vue";

@Component({
  components: {
    ModuleComponent
  }
})
export default class extends Vue {
  private firstname: String = '';
  private lastname: String = '';
  private email: String = '';
  private phone: String = '';
  private company: String = '';
  private resume: any = null;
  private activeStep:number = 2;
  
  private fileChanged(file: File) {
    console.log(file);
  }

  private startProcess() {
    console.log('inside the function');
    axios.get('')
  }

}
</script>

<style lang="scss">

.step-title {
  color: #fff;
}

.step-item:before {
  background: #fff !important;
}

.step-content, .step-navigation {
  display: none;
}

.head1 {
  font-size: 40px;

  input[type="text"] {
    width: 40%;
    height: 50px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
    border: 2px solid #fff;
    background-color: transparent;
    outline: none !important;
    color: #f5f5f5;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c5c5c5;
    opacity: 1; /* Firefox */
  }

  p {
    font-size: 20px;

    span {
      color: #c5c5c5;
    }

  }

}

.status-tracker {

  h2 {
    font-size: 18px !important;
  }

  li {
    display: inline-block !important;
    width: 150px;
    height: 3px;
    background-color: #fff;
    position: relative;

    &:before {
      content: '';
      height: 10px;
      width:10px;
      position: absolute;
      top: -10px;
      left:-10px;
      padding: 10px;
      border-radius: 25px;
      background-color: rgb(86,49,158);
      box-sizing: border-box;
      border: 1px solid #fff;
    }

   

    &:last-child {
      &:after {
        content: '';
        height: 10px;
        width:10px;
        position: absolute;
        top: -10px !important;
        right:-10px !important;
        padding: 10px;
        border-radius: 25px;
        background-color: rgb(86,49,158);
        box-sizing: border-box;
        border: 1px solid #fff;
      }

      &:before {
        position: absolute;
        top: 60%;
        left:100%;
        transform: translateX(-50%) translateY(20%);
        font-size: 14px;
        padding: 10px;
        border-radius: 25px;
        box-sizing: border-box;
      }

    }

  }

  li.active {
    &:before {
      background-color: #fff !important;
    }
    &:last-child {
      &:after {
        background-color: #fff !important;
      }
    }
  }

  li:nth-child(1) {
     
     &:after {
      position: absolute;
      top: 60%;
      left:0;
      transform: translateX(-50%) translateY(20%);
      font-size: 14px;
      padding: 10px;
      border-radius: 25px;
      box-sizing: border-box;
      content: 'Profile Shortlisted';
    }
  }

  li:nth-child(2) {
     &:after {
      position: absolute;
      top: 60%;
      left:0;
      transform: translateX(-50%) translateY(20%);
      font-size: 14px;
      padding: 10px;
      border-radius: 25px;
      box-sizing: border-box;
      content: 'Profile Shortlisted';
    }
  }

  li:nth-child(3) {
    &:after {
    position: absolute;
    top: 60%;
    left:0;
    transform: translateX(-50%) translateY(20%);
    font-size: 14px;
    padding: 10px;
    border-radius: 25px;
    box-sizing: border-box;
    content: 'Profile Shortlisted';
    }
  }

  li:nth-child(4) {
     &:after {
      position: absolute;
      top: 60%;
      left:0;
      transform: translateX(-50%) translateY(20%);
      font-size: 14px;
      padding: 10px;
      border-radius: 25px;
      box-sizing: border-box;
      content: 'Profile Shortlisted';
    }
  }


}

.button-holder {

}

header {
  height: 50px;
  width:100%;
  font-size: 16px;
  padding: 15px;
  box-sizing: border-box;
  // background-color: #111;

  img {
    height: 40px;
    width: 100px;
  }

}


</style>