<template>
  <div class="module-component">Module Component</div>
</template>

<script lang="ts">
import Vue from "vue";
export default class extends Vue {}
</script>

<style lang="scss" scoped>
.module-component {
  border: 1px solid #cccccc;
  padding: 1rem;
}
</style>