<template>
  <div id="app">
    <div class="app-header">
      
    </div>
    <section class="body-container">
      <router-view></router-view>
    </section>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Buefy from 'buefy'
import 'buefy/dist/buefy.css'
import { Component } from "vue-property-decorator";
import { SIDEBAR_CONFIG } from "@/common/constants";
import {
  AppSidebar,
  AphHeader,
  AppPage,
  AppPageHeader,
  AppPageContent
} from "@zeta/aph-components";

@Component({
  components: {
    AppSidebar,
    AphHeader,
    AppPage,
    AppPageHeader,
    AppPageContent
  }
})
export default class App extends Vue {
  private subHeading: string = "Project Name"; // Name of Project
  private sideBarConfig: any[] = SIDEBAR_CONFIG;
}
Vue.use(Buefy);
</script>

<style lang="scss">

#app {
  background:#623ea5;
  min-height:100vh;
  color:#fff;
}
.add-margin {
  // margin-top: 45px;
}
.app-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

#app .page {
  padding: 50px 100px 100px;
  border:0;
}

.page .container {

}

</style>
